.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search-input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search-input > input:focus {
  outline-width: 0;
}

.search-inputIcon {
  color: gray;
}

.search-micIcon {
  color: rgb(66, 133, 244);
}

.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: whitesmoke;
  border: 1px solid white;
  text-transform: inherit;
  color: rgb(114, 110, 110);
}

.search-buttons button:hover {
  box-shadow: 0 1px 1px black;
  background-color: whitesmoke;
  color: #222;
}

.search-buttonsHidden {
  display: none !important;
}
